* {
	margin: 0;
	padding: 0;
}
ul,
li,
ol,
li {
	list-style: none;
}
.clearfix::after {
	content: " ";
	height: 0;
	clear: both;
	visibility: hidden;
	display: block;
}

body {
	font: normal 14px/1.5 "微软雅黑"
}

html {
	font-size: 100px;
}

a {
	text-decoration: none;
	color: steelblue;
}
body, html {
    background-color: #efefef;
}

p{
	font-size:1rem ;
}

.page{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}
.sub-header{
    width: 100%;
    height: 1rem;
    background-color: #fff;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid #efefef;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0 .1rem;
    box-sizing: border-box;
}
.sub-header .back{
    width: .8rem;
    height: .8rem;
    background-image: url("../images/home/goods/back.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}
.sub-header .title{
    width: 79%;
    height: auto;
    font-size: .32rem;
    text-align: center;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.main{
    width: 100%;
    padding-top: 1.02rem;
}
.main .input-wrap{
    width: 93%;
    height: .8rem;
    border: 1px solid #c5cbcf;
    border-radius: 4px;
    margin: 0 auto;
    overflow: hidden;
    display: -webkit-flex;
}
.main .input-wrap .password{
    width: 75%;
    height: 75%;
    margin-left: .2rem;
    font-size: .28rem;
}
button, input {
    border: 0 none;
    border-radius: 0;
    outline: none;
}
.main{
    width: 100%;
    padding-top: 1.4rem;
}
.main .input-wrap .switch-wrap{
    width: 20%;
    margin-top: .1rem;
}
.van-switch {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    width: 2em;
    font-size: 30px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 1em;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}
.main .input-wrap .switch-wrap{
    width: 20%;
    margin-top: .1rem;
}
.van-switch, .van-switch__node {
    height: 1em;
    background-color: #fff;
}
.van-switch__node {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 1em;
    border-radius: 100%;
    box-shadow: 0 3px 1px 0 rgb(0 0 0 / 5%), 0 2px 2px 0 rgb(0 0 0 / 10%), 0 3px 3px 0 rgb(0 0 0 / 5%);
    transition: transform .3s cubic-bezier(.3,1.05,.4,1.05),-webkit-transform .3s cubic-bezier(.3,1.05,.4,1.05);
}
.main .save-btn{
    width: 93%;
    height: .8rem;
    background-color: #e42321;
    font-size: .28rem;
    color: #fff;
    text-align: center;
    line-height: .8rem;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: .2rem;
}
.load{
    width: 0.6rem;
    height: 0.6rem;
    background-image: url("../images/common/load.gif");
    background-size: 100%;
    position: fixed;
    z-index: 10000;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.van-toast-text{
    width: fit-content;
    min-width: 96px;
    min-height: unset;
    padding: 8px 12px;
}
.van-toast{
    position: fixed;
    top: 50%;
    left: 50%;
    box-sizing: content-box;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background-color: rgba(50,50,51,.88);
    border-radius: 4px;
    transform: translate3d(-50%,-50%,0);
    display: none;
}
toast_text{
    margin-top: 0;
} 